@{
    ViewData["Title"] = "Home Page";
}
@* @* @model IEnumerable<CellphoneStoreEcommerce.Models.Product> *@

<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner-iphone-12-2.jpg" alt="iPhone 12" width="1100" height="400">
            <div class="carousel-caption">
                <h3>iPhone 12 - 64GB</h3>
                <p>Sản phẩm nối bật vừa được ra mắt!!!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner-iphone12-pro.jpg" alt="iPhone 12 Pro" width="1100" height="400">
            <div class="carousel-caption">
                <h3>iphone 12 Pro - 64GB</h3>
                <p>Sản phẩm nổi bật siêu khủng vừa được ra mắt từ Apple!!!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner-samsung-galaxy-s9-plus.png" alt="Samsung S9 Plus" width="1100" height="400">
            <div class="carousel-caption">
                <h3>Samsung Galaxy S9 Plus</h3>
                <p>Sản phẩm nổi bật đến từ SAMSUNG!!!</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

@* <h2>Sản phẩm</h2>

    <div class="row" style="margin-bottom: 5px;">
    @foreach (var item in Model)
    {
    <div class="col-lg-3 col-md-6 md-4">
    <div class="card h-100">
    <img class="card-img-top" src="~/images/@item.product_Image" alt="@item.product_Image">
    <div class="card-body">
    <h4 class="card-title">@item.product_Name</h4>
    <h5 class="card-text">@item.product_Price</h5>
    <p class="card-text">@item.product_Description</p>
    </div>
    <div class="card-footer">
    <a asp-controller="Detail" asp-action="Index" asp-route-id="@item.product_ID" asp-route-name=""
    class="btn btn-primary">Detail</a>
    <a asp-action="Buy" asp-controller="ChiTietDonHang" asp-route-id="@item.product_ID"
    asp-route-name="@item.product_Name" class="btn btn-info">Buy Now</a>
    </div>
    </div>
    </div>
    }
    </div> *@
